body{
    background: url('../images/bg.jpg') bottom center no-repeat #051127;
    background-size: 100%;
     
}


.ele-center{
    margin: 30% auto 5% auto;
}

.capa-superior{
    height: 251px;
    margin: 50% auto 40% auto;
    position: relative;
    width: 300px;
    z-index: 1;
}

.capa-superior .capa-inferior{
    background: #fff none repeat scroll 0 0;
    height: 245px;
    left: 110px;
    position: absolute;
    top: 55px;
    width: 63%;
    z-index: -1;
    overflow: hidden !important;
}

.botonera{
    position: absolute;
    bottom: 10px;
    text-align: center;
    vertical-align: middle;
    width: 97%;
}

.botonera #btnCapture{
          background: rgba(0, 0, 0, 0) url("../images/btn-capture.png") no-repeat scroll center top / 100% auto;
          border: medium none;
          display: inline-block;
          height: 64px;
          margin: 0 auto;
          width: 64px;
          text-indent: -9999px;
}

.botonera #btnShared{
          background: rgba(0, 0, 0, 0) url("../images/share.png") no-repeat scroll center center / 50% auto;
          border: medium none;
          display: inline-block;
          height: 64px;
          margin: 0 auto;
          width: 64px;
          text-indent: -9999px;
}

